{% assign alt_text = "Image" %}
{% if include.image.caption %}
  {% assign alt_text = include.image.caption %}
{% elsif include.image.id %}
  {% assign alt_text = include.image.id %}
{% endif %}
{% capture image_src %}{% include image_src.html image=include.image %}{% endcapture %}
{% capture image_url %}{% if include.image.url %}{{ include.image.url }}{% else %}{{ image_src }}{% endif %}{% endcapture %}
{% capture image_style %}{% if include.style %}style="{{ include.style }}"{% elsif include.image.max-width %}style="max-width: {{ include.image.max-width }}"{% else %}{{ image_src }}{% endif %}{% endcapture %}
{% capture img_tag %}<img src="{{ image_src }}" alt="{{ alt_text | strip_html }}" {{image_style}}>{% endcapture %}

{% assign position = include.position | default: "right" %}
{% assign margin = "margin-left-1" %}
{% if position == "left" %}
  {% assign position = "left" %}
  {% assign margin = "margin-right-1" %}
{% else %}
  {% assign position = "right" %}
{% endif %}

<div style="{% if include.image.max-width> %}max-width: {{ include.image.max-width }}{% endif %}{% if include.image.display> %}; display: {{ include.image.display }}{% endif %}">
{% if include.image.url %}
  <a href="{{ include.image.url }}" target="_blank">{{ img_tag }}</a>
{% else %}
  <a href="{{ image_url }}">{{ img_tag }}</a>
{% endif %}
</div>
